$primaryColor: #b0323a;
$secondaryColor: #f0d8c3;
$accentColor: #c87c0c;
$darkColor: #283537;
$lightColor: #8aabab;

$backgroundColor: #f8f9fa;
$textColor: $darkColor;
$borderColor: $accentColor;
$headerBgColor: $primaryColor;
$navTextColor: #ffffff;
$cardBorderColor: $accentColor;
$cardHeaderBgColor: $secondaryColor;
$buttonBgColor: $primaryColor;
$buttonTextColor: #ffffff;
$footerBgColor: $darkColor;
$footerTextColor: $secondaryColor;
$iconColor: $accentColor;
$socialBorderColor: $accentColor;
$socialIconColor: #ffffff;
$socialHoverColor: $primaryColor;

$defaultFont: "Spline Sans", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;
